<section class="page-section mt-5" id="signup">
  <div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">PRACTICAL RECORD of <p id="demo">
      </p>
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-left">
      <div class="col-lg-8 col-xl-7">

        <form action="/user1-form" method="POST" id="contactForm">
          <!-- Name input-->
          <div class="form-floating">
            <input class="form-control" id="name" name="fullname" type="text" placeholder="Enter your name..." />
            <label for="name">Full Name</label>

          </div>
          <!-- Class input-->

          <div class="form-floating mb-3">
            <input class="form-control" id="class" name="class" type="number" placeholder="5" />
            <label for="email">Class</label>

          </div>
          <!-- Division input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="division" name="division" type="text" placeholder="(123) 456-7890" />
            <label for="division">Division</label>

          </div>

          <!-- Roll Number input-->
          <div class="form-floating mb-3">
            <input class="form-control" id="Rollno" name="Rollno" type="Number" placeholder="876" />
            <label for="division">Roll No</label>

          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="text" name="date" id="currentDate">
          </div>

          <TABLE>
            <TR>
              <TD>
                <div class="container">
                  <div class="row ">
                    <h2 style="text-align:left; padding-top:20px; padding-bottom:15px;">Prayers:</h2>
                    <div style="padding: 1em; ">
                      <div class="quiz" style="padding-top:15px;">
                        <div class="form-control1">
                          <div class="row ">
                            <div class="col-md-3">
                              <label style="padding-top:10px; ">
                                <b> 1. Fajr:</b>
                              </label>

                              <!-- Input Type Radio Button -->
                              <label for="recommed-1">
                                <input type="radio" id="recommed-1" name="Fajr" value="Excellent">Excellent</input>
                              </label>
                              <label for="recommed-2">
                                <input type="radio" id="recommed-2" name="Fajr" value="Satisfactory"
                                  value="Satisfactory">Satisfactory</input>
                              </label>
                              <label for="recommed-3">
                                <input type="radio" id="recommed-3" name="Fajr" value="Not Satisfactory">Not
                                Satisfactory</input>
                              </label>
                              <label for="recommed-4">
                                <input type="radio" id="recommed-4" name="Fajr" value="Need Attention">Need
                                Attention</input>
                              </label>

                            </div>
                          </div>

                        </div>
              </TD>
              <TD>
                <div class="container">
                  <div class="row ">

                    <div style="padding: 1em;">
                      <div class="quiz " style="padding-top:15px;">

                        <div class=" form-control1 pl-5">
                          <div style="text-align:left" class="col">
                            <label style=" padding-top:10px;">
                              <b>2. Dhuhr: </b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="Dhuhr" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="Dhuhr" value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="Dhuhr" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="Dhuhr" value="Need Attention">Need
                              Attention</input>
                            </label>

                          </div>
                        </div>
              </TD>

              <TD>
                <div class="container">
                  <div class="row ">

                    <div style="padding: 1em;">
                      <div class="quiz " style="padding-top:15px;">

                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b>3. Asr: </b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="Asr" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="Asr" value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="Asr" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="Asr" value="Need Attention">Need
                              Attention</input>
                            </label>

                          </div>
                        </div>
             </TD>
          </TABLE>

          <TABLE>
            <TR>
             
              <TD>
                <div class="container">
                  <div style="width:500px; padding-left:200px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">

                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b>4. Maghrib:</b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="Maghrib" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="Maghrib"
                                value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="Maghrib" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="Maghrib" value="Need Attention">Need
                              Attention</input>
                            </label>
                          </div>
                        </div>
              </TD>
            </TR>
          </TABLE>

          <TABLE>
            <TR>
              <TD>
                <div class="container">
                  <div style="width:500px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">


                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b> 5. Isha'a:</b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="Ishaa" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="Ishaa" value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="Ishaa" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="Ishaa" value="Need Attention">Need
                              Attention</input>
                            </label>
                          </div>


                        </div>
              </TD>
             
            </TR>
          </TABLE>
          <!-- next section-->
          <TABLE>
            <TR>
              <TD>
                <div class="container">
                  <div style="width:500px; " class="row ">
                    <h2 style="text-align:left; padding-top:20px; padding-bottom:15px;">Daily Activities:</h2>
                    <div style="padding: 1em; ">
                      <div class="form-floating mb-3" style="padding-top:15px;">
                        <div class="form-control1">
                          <div class="row ">
                            <div class="col-md-6">
                              <label style="padding-top:10px; ">
                                <b> 1. Thilavath:</b>
                              </label>

                              <!-- Input Type Radio Button -->
                              <label for="recommed-1">
                                <input type="radio" id="recommed-1" name="Thilavath" value="Excellent">Excellent</input>
                              </label>
                              <label for="recommed-2">
                                <input type="radio" id="recommed-2" name="Thilavath" value="Satisfactory"
                                  value="Satisfactory">Satisfactory</input>
                              </label>
                              <label for="recommed-3">
                                <input type="radio" id="recommed-3" name="Thilavath" value="Not Satisfactory">Not
                                Satisfactory</input>
                              </label>
                              <label for="recommed-4">
                                <input type="radio" id="recommed-4" name="Thilavath" value="Need Attention">Need
                                Attention</input>
                              </label>

                            </div>
                          </div>

                        </div>
              </TD>
             
          </TABLE>



          <TABLE>
            <TR>
             
              <TD>
                <div class="container">
                  <div style="width:500px; padding-left:200px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">

                        <div class=" form-control1 pl-5">
                          <div style="text-align:left" class="col">
                            <label style=" padding-top:10px;">
                              <b>2. Hifdh: </b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="Hifdh" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="Hifdh" value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="Hifdh" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="Hifdh" value="Need Attention">Need
                              Attention</input>
                            </label>

                          </div>
                        </div>
              </TD>
            </TR>
          </TABLE>
          <TABLE>
            <TR>
              <TD>
                <div class="container">
                  <div style="width:500px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">

                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b>3. Sunnah Prayer: </b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="SunnahPrayer"
                                value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="SunnahPrayer"
                                value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="SunnahPrayer" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="SunnahPrayer" value="Need Attention">Need
                              Attention</input>
                            </label>

                          </div>
                        </div>
              </TD>
             
            </TR>
          </TABLE>

          <TABLE>
            <TR>
              
              <TD>
                <div class="container">
                  <div style="width:500px; padding-left:200px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">

                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b>4. Dhikr,Duas:</b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="DhikrDuas" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="DhikrDuas"
                                value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="DhikrDuas" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="DhikrDuas" value="Need Attention">Need
                              Attention</input>
                            </label>
                          </div>
                        </div>
              </TD>
            </TR>
          </TABLE>

          <TABLE>
            <TR>
              <TD>
                <div class="container">
                  <div style="width:500px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">


                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b> 5. Neat and Tidy:</b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="NeatandTidy" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="NeatandTidy"
                                value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="NeatandTidy" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="NeatandTidy" value="Need Attention">Need
                              Attention</input>
                            </label>
                          </div>


                        </div>
              </TD>
            
            </TR>
          </TABLE>


          <TABLE>
            <TR>
             
              <TD>
                <div class="container">
                  <div style="width:500px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">


                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b> 5. Friendship:</b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="Friendship" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="Friendship"
                                value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="Friendship" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="Friendship" value="Need Attention">Need
                              Attention</input>
                            </label>
                          </div>


                        </div>
              </TD>
            </TR>
          </TABLE>

          <!--next section-->
          <TABLE>
            <TR>
              <TD>
                <div class="container">
                  <div style="width:500px; " class="row ">
                    <h2 style="text-align:left; padding-top:20px; padding-bottom:15px;">Reading:</h2>
                    <div style="padding: 1em; ">
                      <div class="form-floating mb-3" style="padding-top:15px;">
                        <div class="form-control1">
                          <div class="row ">
                            <div class="col-md-6">
                              <label style="padding-top:10px; ">
                                <b> 1. News Paper:</b>
                              </label>

                              <!-- Input Type Radio Button -->
                              <label for="recommed-1">
                                <input type="radio" id="recommed-1" name="NewsPaper" value="Excellent">Excellent</input>
                              </label>
                              <label for="recommed-2">
                                <input type="radio" id="recommed-2" name="NewsPaper"
                                  value="Satisfactory">Satisfactory</input>
                              </label>
                              <label for="recommed-3">
                                <input type="radio" id="recommed-3" name="NewsPaper" value="Not Satisfactory">Not
                                Satisfactory</input>
                              </label>
                              <label for="recommed-4">
                                <input type="radio" id="recommed-4" name="NewsPaper" value="Need Attention">Need
                                Attention</input>
                              </label>

                            </div>
                          </div>

                        </div>
              </TD>
             
          </TABLE>



          <TABLE>
            <TR>
             
              <TD>
                <div class="container">
                  <div style="width:500px; padding-left:200px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">

                        <div class=" form-control1 pl-5">
                          <div style="text-align:left" class="col">
                            <label style=" padding-top:10px;">
                              <b>2. Childrens Publications: </b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="ChildrensPublications"
                                value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="ChildrensPublications"
                                value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="ChildrensPublications"
                                value="Not Satisfactory">Not Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="ChildrensPublications"
                                value="Need Attention">Need Attention</input>
                            </label>

                          </div>
                        </div>
              </TD>
            </TR>
          </TABLE>
          <TABLE>
            <TR>
              <TD>
                <div class="container">
                  <div style="width:500px;" class="row ">

                    <div style="padding: 1em;">
                      <div class="form-floating mb-3 " style="padding-top:15px;">

                        <div class="form-control1 ">
                          <div class="col">
                            <label style="padding-top:10px;">

                              <b>3. Library: </b>
                            </label>

                            <!-- Input Type Radio Button -->
                            <label for="recommed-1">
                              <input type="radio" id="recommed-1" name="Library" value="Excellent">Excellent</input>
                            </label>
                            <label for="recommed-2">
                              <input type="radio" id="recommed-2" name="Library"
                                value="Satisfactory">Satisfactory</input>
                            </label>
                            <label for="recommed-3">
                              <input type="radio" id="recommed-3" name="Library" value="Not Satisfactory">Not
                              Satisfactory</input>
                            </label>
                            <label for="recommed-4">
                              <input type="radio" id="recommed-4" name="Library" value="Need Attention">Need
                              Attention</input>
                            </label>

                          </div>
                        </div>
              </TD>
             
            </TR>
          </TABLE>
          <!--next section-->

          <table>

            <h2 style="text-align:left; padding-top:50px; padding-bottom:10px;">Situations:</h2>
            <div class="form-floating mb-3">
              <div class="form-control1 ">
                <label style="padding-top:10px;"><b>
                    1. My Child makes salam when (s)he enters/leaves the home.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="Salam" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="Salam" value="No">No</input>
                </label>

              </div>
              <div class="form-control1">
                <label>
                  <b>2. My Child performs daily salah without being reminded.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="Dailysalah" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="Dailysalah" value="No">No</input>
                </label>

              </div>

              <div class="form-control1">
                <label>
                  <b> 3.My Child recites Quran on a daily basis.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="QuranRecitation" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="QuranRecitation" value="No">No</input>
                </label>

              </div>

              <div class="form-control1">
                <label>
                  <b> 4. My Child is obedient</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="Obidience" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="Obidience" value="No">No</input>
                </label>

              </div>

              <div class="form-control1">
                <label>
                  <b> 5. My Child responds to Azaan ,if heard.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="RespondstoAzaan" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="RespondstoAzaan" value="No">No</input>
                </label>

              </div>
              <div class="form-control1">
                <label>
                  <b> 6. My Child keeps modesty in his/her dressing.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="ModestDressing" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="ModestDressing" value="No">No</input>
                </label>

              </div>
              <div class="form-control1">
                <label>
                  <b>7. My Child is much concerned about prayers when(s)he goes out.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="PrayersWhenGoesOut" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="PrayersWhenGoesOut" value="No">No</input>
                </label>

              </div>

              <div class="form-control1">
                <label>
                  <b>8. My Child learns additional hours to know islam more.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="KnowIslam" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="KnowIslam" value="No">No</input>
                </label>

              </div>

              <div class="form-control1">
                <label>
                  <b>9. My Child tries to memorize some portions of Quran everyday.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="MemorizeQuran" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="MemorizeQuran" value="No">No</input>
                </label>

              </div>
              <div class="form-control1">
                <label>
                  <b> 10. My Child says Bismillah when starts something good/useful.</b>
                </label>

                <!-- Input Type Radio Button -->
                <label for="recommed-1">
                  <input type="radio" id="recommed-1" name="Bismillah" value="Yes">Yes</input>
                </label>
                <label for="recommed-2">
                  <input type="radio" id="recommed-2" name="Bismillah" value="No">No</input>
                </label>

              </div>
            </div>
      </div>



      </table>




      <!-- Submit Button-->
      <button class=" btn btn-primary btn-xl " onclick="alert('Data submitted successfully!')"
        type="submit">Submit</button>


      </form>
    </div>
  </div>
  </div>
  </div>
</section>
<script>
  const month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

  const d = new Date();
  let name = month[d.getMonth()];
  document.getElementById("demo").innerHTML = name;

  var today = new Date();
  var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
  document.getElementById("currentDate").value = date;

</script>